/* Full-page height and width for HTML */
html {
    height: 100%;
    width: 100%;
  }
  
  /* Entire Body CSS */
  body {
    margin: 0;
    height: 100vh;
    background: url('images/back.jpg') bottom center no-repeat, 
                url('images/back.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  
  /* Style for the logo in the header */
  .logo {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style for the horizontal line */
  .thin-white-line {
    border: none;
    border-top: 1px solid white;
    margin: 0.1px;
  }
  
  /* Header styles */
  .top {
    background-color: #121111;
    height: 200px;
    background-image: url('images/navbackground.png');
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .top h1 {
    font-family: "DM Serif Text", serif;
    color: white;
    font-size: 150%;
    line-height: 200px;
  }
  
  /* Navigation bar styling */
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    background-color: #f1ede9;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a {
    color: #44841a;
    font-family: Verdana, sans-serif;
    text-decoration: none;
  }
  
  .header-button {
    background-color: #f1ede9;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #44841a;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border-radius: 50px;
    text-decoration: none;
  }
  
  /* Hover effect for navigation buttons */
  .header-button:hover {
    background-color: #ad9f9f;
    color: #ffffff;
  }
  
  /* Main content container styling */
  .content {
    width: 75%;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
  }
  
  /* Text styling */
  h1 {
    text-align: center;
    color: #5b5b5b;
  }
  
  /* Heading with glowy text effect */
  .glow {
    color: #ffffff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #44841a, 0 0 40px #44841a, 0 0 50px #44841a, 0 0 60px #44841a, 0 0 70px #44841a;
    }
    to {
      text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #9e6400, 0 0 40px #9e6400, 0 0 50px #9e6400, 0 0 60px #9e6400, 0 0 70px #9e6400;
    }
  }
  
  p {
    font-size: 25px;
    font-family: "Lato";
    color: #6e6e6e;
    padding-left: 20px;
  }
  
  /* Accordion button styling */
  .accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    color: #6e6e6e;
  }
  
  /* Arrow in accordion button */
  .accordion .arrow {
    transition: transform 0.4s;
  }